*{
    margin:0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: #b5e48c;
}

.wave-section .wave{
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left: 0;
    background: url(images/wave.png);
    animation: animate 10s linear infinite;
}



@keyframes animate{
    0%
    {
        background-position: 0;
    }
    100%{
        background-position: 0;
    }
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
}


.container .topnav{
    overflow: hidden;
    margin-right: 5%;
    
}

.container .logo{
    position:absolute;
    margin-top:-50px;
}
.container .logo img{
    width: 500px;
    height: 200px;
}
.container .topnav a{
    float: right;
    color: black;
    padding: 20px;
    text-decoration: none;

}

.container .timeline{
    position: absolute;
    margin-top: 100px;
    width: 1000px;
    height: 500px;
}
@media screen and ( max-width: 1290px){
    .left{
        left: 0;
        position: absolute;
    }
    .right{
        position: relative;
        bottom: -70%;
    }
    .wave{
        display: none;
    }
}
@media screen and ( max-width: 980px){
    .left .timeline::before{
        margin-left: -400px;
    }
    .timeline ul li:nth-child(odd)::before{
        left:-3px;
    }
   
    .timeline ul li:nth-child(odd) p{
        position: relative;
        left: -22%;
    }
    .left .timeline ul li:nth-child(odd){
        float:right;
        text-align: left;
        clear: both;
        color: black;
        left: -400px;
    }
    .left .timeline ul li:nth-child(even){
        float:right;
        text-align: left;
        clear: both;
        color: black;
        left: -400px;
    }
    .right{
        position: relative;
        bottom: -40%;
    }
    .wave{
        display: none;
    }
    .timeline ul li .image{
        left: 30%;
    }
    
    .timeline ul li .image-final img{
        left: 30%;
        max-width: 80px;
        max-height: 80px;
        
    }
    .timeline ul li .image-two{
        position: absolute;
        left: 30%;
        
    }
 }
 @media screen and ( max-width: 830px){
    .logo {
        display: none;
    }
 }
 @media screen and ( max-width: 782px){
    .left .timeline::before{
        margin-left: -380px;
    }
    .left .timeline ul li:nth-child(odd){
        float:right;
        text-align: left;
        clear: both;
        color: black;
        left: -380px;
    }
    .left .timeline ul li:nth-child(even){
        float:right;
        text-align: left;
        clear: both;
        color: black;
        left: -380px;
    }
    
    .timeline ul li:nth-child(odd) .image{
        left: 30%;
        max-width: 80px;
        max-height: 80px;
               
    }
    .timeline ul li .image-two{
        position: absolute;
        left: 30%
    }
    .timeline ul li .image-final img{
        left: 22%;
        max-width: 80px;
        max-height: 80px;
    }
    .right{
        position: relative;
        bottom: -85%;
        left: -30%;
    }
   
}
@media screen and ( max-width: 550px){
    .left .timeline::before{
        margin-left: -480px;
    }
    .left .timeline ul li:nth-child(odd){
        float:right;
        text-align: left;
        clear: both;
        color: black;
        left: -480px;
    }
    .left .timeline ul li:nth-child(even){
        float:right;
        text-align: left;
        clear: both;
        color: black;
        left: -480px;
    }
    
    .timeline ul li:nth-child(odd) .image{
        left: 30%;
        max-width: 80px;
        max-height: 80px;
               
    }
    .timeline ul li .image-two{
        position: absolute;
        left: 30%
    }
    .timeline ul li .image-final img{
        left: 22%;
        max-width: 80px;
        max-height: 80px;
    }
    .right{
        position: relative;
        bottom: -85%;
        left: -30%;
    }
}
@media screen and ( max-width: 500px){
    .right{
        left: -15%;
    }
}
@media screen and ( max-width: 400px){
    .left .timeline::before{
        height:100%;
        margin-top: 17px;
    }
   .left .timeline ul li .content{
       position: relative;
   }
   .left .timeline ul li .content p{
       position: relative;
       width:260px;
   }
   .right{
    position: relative;
    bottom: -90%;
    left:-3%;
    }
}
@media screen and ( max-height: 670px){
    .right{
        position: relative;
        bottom: -103%;
        left:-3%;
    }
}


.timeline:before{
    content:'';
    position: absolute;
    left:50%;
    width: 2px;
    height: 95%;
    background-color: black;
}

.timeline ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.timeline ul li{
    line-height: normal;
    position: relative; 
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd){
    float:left;
    text-align: right;
    clear: both;

}
.timeline ul li:nth-child(even){
    float:right;
    text-align: left;
    clear: both;
}

.content{
    padding-bottom: 20px;
}
.content p{
    max-width: 80%;
    position: relative;
}

.timeline ul li:nth-child(odd):before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background-color: green;
    border-bottom: 20px;
    box-shadow: 0 0 0 3px green;
    border-radius: 20px;
}

.timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    top: 24px;
    left: -6px;
    width: 10px;
    height: 10px;
    background-color: green;
    border-bottom: 20px;
    box-shadow: 0 0 0 3px green;
    border-radius: 20px;
}

.timeline ul li p{
    position: relative;
    margin: 10px 0 0;
    padding: 0;
}
.timeline ul li:nth-child(odd) p{
    margin-left: 90px;
}

.timeline ul li:nth-child(odd) .image{
    position: absolute;
    top: -100px;
    right: -200px;
    margin: 0;
    padding: 8px 16px;
    background:none;


}
.timeline ul .image-two{
    position: absolute;
    top: -30px;
    left: -140px;
    max-height: 10px;
    max-width: 10px;
    margin: 0;
    width: 100px;
    height: 50px;
    padding: 8px 16px;
}

.timeline ul li .image-final img{
    position: absolute;
    top: -50px;
    right: -160px;
    margin: 0;
    padding: 8px 16px;
    background:none;
    width: 130px;
    height: 130px;

}
.timeline ul li:nth-child(even) .image-two img{
    max-height: 80px;
    max-width: 90px;

}

.right a{
    position: absolute;
    float: right;
    right: 10%;
    outline: none;
    color: green;
    text-decoration: none;
   font-size: 30px;
   border-radius: 20px;
   border: 2px solid green;
   padding: 10px;
   top:50%;
   font-family:'Courier New', Courier, monospace;
}

.right a:hover{
    
    color: white;
    background-color: green;
}
