*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
section{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

section .set
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

section .set div
{
	position: absolute;
	display: block;
}

section .set div img{
	max-height: 180px;
	max-width: 150px;
}
.input-container {

    display: flex;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left:30px;
  }
/*

animate 18s : viteza cu care sa mearga: e mai mica, merge mai repede;
linear infinite: sa cada incontinuu, daca nu scriem linear infinite, cade, se opreste si dupa ce vin toate porneste iar;
animation-delay:  daca e cu plus, se orpeste 10 sec si dupa porneste
				  daca e cu minus cat mai mare, porneste de la mijloc ;
*/
section .set div:nth-child(1)
{
	left: 1%;
	animation: animate 15s linear infinite;
	animation-delay: -2s ;
	
}

section .set div:nth-child(2)
{
	left: 13%;
	animation: animate 9s linear infinite;
	animation-delay: -2s;
}

section .set div:nth-child(3)
{
	left:3%;
	animation: animate 14s linear infinite;
}
section .set div:nth-child(4)
{
	left:6%;
	animation: animate 15s linear infinite;
	animation-delay: -5s;
}

section .set div:nth-child(5)
{
	right:10%;
	animation: animate 7s linear infinite;
}
section .set div:nth-child(6)
{
	right:0%;
	animation: animate 5s linear infinite;
}
section .set div:nth-child(7)
{
	right:5%;
	animation: animate 14s linear infinite;
}
section .set div:nth-child(8)
{
	right:15%;
	animation: animate 15s linear infinite;
	animation-delay: -2s;

}
section .set div:nth-child(9)
{
	right: 10%;
	animation: animate 10s linear infinite;    
}


@keyframes animate 
{
	0%
	{
		opacity: 1;
		top: -10%;
	}
	10%
	{
		opacity: 0.2;
	}
	20%
	{
		opacity: 0.4;
		transform: rotate(120deg);
	}
	40%
	{
		opacity: 0.6;
		transform:  rotate(225deg);
	}
	60%
	{
		opacity: 0.9;
		transform:  rotate(80deg);
	}
	80%
	{
		opacity: 1;
		transform:  rotate(180deg);
	}
	100%
	{
		top: 100%;
		transform:rotate(225deg);
	}
}


.set2{
	transform: scale(1) rotateX(180deg);
	filter: blur(3px);
}
.animate {
    animation: animatezoom 0.3s
  }